$color-bg: rgb(248, 255, 187);



$laptop: 1024px;

@mixin laptop {
  @media screen and (min-width: ($laptop)) {
    @content;
  }
}
 

.res{
    background-color: red;

    @include laptop {
        background-color: blue;
        
    }
}

.head{
  font-size: 12px;
}