$color-bg: rgb(248, 255, 187);



$lap: 1024px;

@mixin lap {
  @media screen and (min-width: ($lap)) {
    @content;
  }
}
 

.res{
    background-color: red;
    @include lap {
        background-color: blue;
    }
}